{% load static %}
<html lang="ja" dir="ltr">

<head>
    <meta charset="utf-8">

    {% block title %}
        <title>ログイン</title>
    {% endblock title %}
    
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
  <div class="form-wrapper">

    <h1>{% block h1 %}ログイン{% endblock %}</h1>

    {% block contents %}

      {% if form.errors  %}
        <p>項目が一致しません．</p>
      {% endif %}

      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
          <div class="form-item">
            <label for="user">ユーザー名</label>
            {{ form.user }}
            {{ form.user.errors }}
          </div>
          <div class="form-item">
            <label for="name">名前</label>
            {{ form.name }}
            {{ form.name.errors }}
          </div>
          <div class="form-item">
            <label for="mail">メールアドレス</label>
            {{ form.mail }}
            {{ form.mail.errors }}
          </div>
          <div class="form-item">
            <label for="password">パスワード</label>
            {{ form.password }}
            {{ form.password.errors }}
          </div>
          <div class="button-panel"><!--ログインボタン-->
            <input type="submit" class="button" title="Sign In" value="ログイン"></input>
          </div>
      </form>
    {% endblock %}

    <div class="form-footer">
      {% block footer %}
        <p><a href="#">アカウントを新規作成</a></p>
        <p><a href="#">パスワードを忘れた方はこちら</a></p>
      {% endblock %}
    </div>
  </div>
</body>