
.body {      
    font-family: sans-serif;
    font-size: 12px;
    color: #000;
    background-color: #fff8ee;
}

/*階層構造表示のスタイル*/

.hierarchy{
    float: left;
}

.hierarchies ul {
    margin: 0;
    list-style-type: none;
}

.hierarchy {
    display: inline-block;
}

.hierarchy a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
/*ここまで*/

/*店舗数と口コミ数の欄*/
.count p{
    margin: 0;
    float: right;
}

.sortingButton{     /*○○順選択のボタンのスタイル*/
    width: 175px;
    height: 15px;
    float: left;
    clear: both;
    position: relative;
    margin-top: 15px;
}

/*プルダウンメニューのデザイン*/
.sortingButton:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #000;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*位置の調整*/
    top: 20px;          /*左の棒と<>の調整用*/
    border-bottom: 1px solid #000;
    /*left line */
    position: absolute;
    pointer-events: none;
  }
    
  .sortingButton select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: block;
    width: 150px;
    max-width: 320px;
    height: 30px;
    float: right;
    margin-top: 15px;
    padding: 0px 5px;
    font-size: 11px;
    line-height: 1.75;
    border: 1px solid #000;
    border-radius: 10px;          /*角の丸み*/
    -ms-word-break: normal;
    word-break: normal;
    background-color: white;
  }
/*プルダウンメニューのデザインここまで*/


.storeName{                 /*○○のところ*/
    width: 200px;
    height: 20px;
    float: left;
    margin-left: 200px;
    margin-top: 30px;
}

.listSearch{        /*詳細条件検索の箱スタイル*/
    width: 400px;       /*ここも調節が必要*/
    height: auto;      /*ここも調節が必要*/
    float: right;
    clear: both;
    margin-top: 15px;
    margin-right: 10px;
    padding: 0.5em 1em;
    font-weight: bold;/*線*/
    border-radius: 10px;  
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    background: #ffff;
    border-bottom: solid 6px rgb(233, 233, 233);
    border-radius: 9px;        /*角の丸み*/
}

.conditions{        /*詳細条件の文字*/
    font-size: 30px;
    text-align: center;
}

.allergen{      /*アレルゲンの文字*/
    margin: 0px 20px 5px 20px;
    font-size: 20px;
}

.searchAllergen{    /*詳細条件のアレルゲン枠*/
    height: auto;
    margin-top: 10px;
}

/*アレルゲンのチェックボックス*/
.searchAllergen label {
    margin: 15px 4px 6px 10px; /* ボタン同士の間隔 */
}
.searchAllergen label input {
    display: none; /* デフォルトのinputは非表示にする */
}
.searchAllergen label span {
    color: #333; /* 文字色を黒に */
    font-size: 14px; /* 文字サイズを14pxに */
     border-radius: 20px; /* 角丸を入れて、左右が丸いボタンにする */
    padding: 5px 20px; /* 上下左右に余白をトル */
    background-color: white;
    border: 0.1px solid;
}
.searchAllergen label input:hover + span{
    background-color: #ffc0cb;
    border: 1px solid #ffc0cb;
}
.searchAllergen label input:checked + span {
    color: #FFF; /* 文字色を白に */
    background: #f08080; /* 背景色を薄い赤に */
    border: 1px solid #f08080; /* 淵の線を薄い赤に */
}
/*チェックボックスここまで*/

.areaTitle{     /*エリア検索の文字*/
    margin: 20px 20px 0px 20px;
    font-size: 20px;

}

/*都道府県プルダウンメニュー*/
.areaSearch {
	overflow: hidden;
	width: 90%;
	margin: 0.5rem 1rem auto auto; /*位置*/
	text-align:left;
    position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
    font-size: 15px;
}
.areaSearch select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
    padding: 8px 38px 8px 8px;
	color: #000;
}
.areaSearch select::-ms-expand {
    display: none;
}
.areaSearch::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.areaSearch:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #bbbbbb;
}
/*都道府県プルダウンメニューここまで*/

/*ジャンル選択の文字*/
.genreTitle{
    margin: 20px 20px 0px 20px;
    font-size: 20px;
}
/*ジャンル選択プルダウンメニュー*/
.genreList {
	overflow: hidden;
	width: 90%;
	margin: 0.5rem 1rem auto auto; /*位置*/
	text-align: left;
    position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
    font-size: 15px;
}
.genreList select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
    padding: 8px 38px 8px 8px;
	color: #000;
}
.genreList select::-ms-expand {
    display: none;
}
.genreList::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.genreList:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #bbbbbb;
}
/*ジャンル選択プルダウンメニューここまで*/

/*日付選択の文字*/
.dateTitle{
    margin: 20px 20px 0px 20px;
    font-size: 20px;
}
/*日付選択デザイン*/
.dateList {
    position: relative;
    display: inline-block;
    margin: 0.5rem 2.5rem auto 1.5rem ;
    width: 90%;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: white;
}
input[type="date"] {
    position: relative;
    padding: 0 10px;
    width: 100%;
    height: 36px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    font-size: 15px;
    color: #000;
}
/*日付選択ここまで*/

/*価格帯文字*/
.budgetTitle{
    margin: 20px 20px 0px 20px;
    font-size: 20px;
}
/*予算選択プルダウンメニュー*/
.budgetList {
	overflow: hidden;
	width: 90%;
	margin: 0.5rem 1rem auto auto; /*位置*/
	text-align: left;
    position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
    font-size: 15px;
}
.budgetList select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
    padding: 8px 38px 8px 8px;
	color: #000;
}
.budgetList select::-ms-expand {
    display: none;
}
.budgetList::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.budgetList:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #bbbbbb;
}
/*予算選択プルダウンメニューここまで*/

/*その他の条件の文字*/
.otherConditionsTitle{
    margin: 20px 20px 0px 20px;
    font-size: 20px;
}
/*その他の条件チェックボックス*/
.otherConditions label {
    margin: 15px 10px 10px 10px; /* ボタン同士の間隔 */
}
.otherConditions label input {
    display: none; /* デフォルトのinputは非表示にする */
}
.otherConditions label span {
    color: #333; /* 文字色を黒に */
    font-size: 14px; /* 文字サイズを14pxに */
    border-radius: 25px; /* 角丸を入れて、左右が丸いボタンにする */
    padding: 5px 20px; /* 上下左右に余白をトル */
    background-color: white;
    border: 0.1px solid;
}

.otherConditions label input:hover + span{
    background-color: #ffc0cb;
    border: 1px solid #ffc0cb;
}
.otherConditions label input:checked + span {
    color: #FFF; /* 文字色を白に */
    background: #f08080; /* 背景色を薄い赤に */
    border: 1px solid #f08080; /* 淵の線を薄い赤に */
}
/*その他の条件チェックボックスここまで*/

/*詳細情報選択ボタン*/
.informationButton {
  color: #000;
  background-color: #dcdcdc;
  font-size: 15px;
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-top: 20px;
  border-radius: 100vh;
}

.informationButton:hover {
  color: #fff;
  background: #fa8072;
}

.infomation-check{
    display: none;
}
.infomation-content{
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}
.infomation-check:checked + .informationButton + .infomation-content{
    height: 400px;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}

/*詳細情報選択ボタンここまで*/

/*検索ボタン*/
.listSearchButton {
    color: #fff;
    background-color: #666666;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 15px 0 15px 0;
    border-radius: 100vh;
  }
  .listSearchButton:hover {
    color: #fff;
    background: #fa8072;
  }
  /*検索ボタンここまで*/


  .storeList_nosup{         /*飲食店一覧のスタイル*/
    width: 830px;        /*ここは調節が必要*/
    height: auto;       /*ここも調節がいる*/
    float: left;
    margin-top: 20px;
    margin-left: 10px; 
    padding: 10px 10px;
    font-weight: bold;
    background-color:rgba(0, 0, 0, 0.017);
    background: #e2e2e2;
    border-bottom: solid 6px #bdbdbd;    /*線*/
    border-radius: 10px;          /*角の丸み*/
    text-align: left;
}

.storeList{         /*飲食店一覧(非対応)のスタイル*/
    width: 830px;        /*ここは調節が必要*/
    height: auto;       /*ここも調節がいる*/
    float: left;
    margin-top: 20px;
    margin-left: 10px; 
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 10px;          /*角の丸み*/
    padding: 0.5em 1em;
    margin: 1em 11px;
  
    background: #ffff;
    border-bottom: solid 6px #e4e4e4;
    border-radius: 9px;
    text-align: left;
}
.storeList img ,.storeList_nosup img{         /*飲食店のトップ画*/
    float: left;
    border-radius: 8px;
}

.storeList table ,.storeList_nosup table{       /*飲食店のアレルギー表示*/
    float: right;
}

/*飲食店名のスタイル*/
.restaurant_name{
    float: left;
    font-size: 20px;
    margin-left: 3px;
}

.colour{       
    color: #000;    

    padding-left: 130px;
}

p{
    margin-bottom: 0px;    
}
.time{
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 5px;
    padding-bottom: 5px;
}