html{
  margin: 0;
  font-family: 'メイリオ';
  font-size: 16px;
}
.backcoler{
  background-color: #ffebcd;
  /*InfoBackground*/
}


/*店名*/
.shopname{
  text-align: center;
  font-size:45px;
  color:black;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  font-family: 'monospace';
  margin: 0px 6em;
}

.boldText{      /*各項目の表題(基本情報以外)*/
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

/*店舗イメージ画像*/
.storeImg{
  display: flex;
  justify-content: center;
}
.storeImg img{
  margin: 0 10px 20px 10px;
  border-radius: 15px;
}

/*アレルゲン表示とタグ*/
.allergenList{
  background-color: #fff;
  margin: 0 5em 20px 5em;
  border-radius: 20px;
  padding: 20px;
}
.allerInfo{
  margin: 5px 45px;
}
.allergenTag{
  margin: auto;
}
.allergenImg{
  margin-left: 2em;
}
.allergenList b{
  font-weight:  bold;
  font-size: 20px;
  margin: 20px;
}

/*メニューリスト*/
.menuList{    /*メニュー全体のデザイン*/
  margin: 2em 5em;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
.menuList img{    /*メニューリストの画像*/
  margin: 0 1em;
  float: left;
}
.menuInfo{    /*メニューの詳細*/
  height: 20em;
}
.menuName{   /*メニュー名*/
  font-size: 25px;
  font-weight: 500;
  margin-left: 13.7em;
  margin-right: 10px;
  border-bottom: 8px dotted #ffa500;
  padding-bottom: 15px;
}
.menuPrice{   /*料金*/
  font-size: 23px;
  float: right;
}
.menuAllergen{    /*アレルゲン表示*/
  margin: 1em 0 1em 17em;
  font-size: 20px;
}
.menuComment{   /*店のコメント*/
  margin-left: 21.25em;
}
/*メニューリストここまで*/


/*店舗基本情報*/
.informationTable{
  background-color: #fff;
  padding: 1.5em 2em;
  margin: 0 5em 2em 5em;
  border-radius: 20px;
}
span.ul.rst-info-title {
	position: relative;
	padding: 0;
	list-style-type: none;
}
span.ul.rst-info-title li {
	padding: 0.5em;
	margin-bottom: 3px;
	line-height: 1.5;
	border-left: solid 6px #f7e600;
	background: #f8faf9;
	color:#000000;
}

/*店舗基本情報(表)*/
table{
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}
.tableTitle{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
table tr{
  border-bottom: solid 2px white;
}
table tr:last-child{
  border-bottom: none;
}
table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #e4e1c0;
  color: black;
  text-align: left;
  padding: 10px;
}
table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px;
}
.matrix{
  display:inline-block;
}
/*住所、郵便番号*/
iframe{
  margin: 0 3em;
}
/*表ここまで*/

/*評価*/
.clearfix{
  margin: 0 5em 30px 5em;
}
.clearfix::after{
  content:"";
  display:block;
  clear:both;
}
span.rating-name{
  font-size:20px;
    color:black;
}
.rating{
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}
span.star{
  font-size:38px;
    color:orange;
}

.customerQA{
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 0 5em 0px 5em;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      

/*プロトタイプ3枚目ここまで*/
/*GoogleMap AIzaSyAPru-bEhxv6GA0EKk0ggzrDwDFCE-tfiQ */