body{
  width:100%;
  background-color: #d6ffea;
}
.contents{
  width:960px;
  margin:30%;

}
.inline{
  display: inline-block;
}

.shopname{
  font-size:30px;
  color:black;
}
.clearfix::after{
  content:"";
  display:block;
  clear:both;
}
span.rating-name{
  font-size:20px;
    color:black;
}
span.star{
  font-size:40px;
    color:orange;
}

.right{
  float : right;
}
.left{
  float:left;
}

