{% load static %}
<html lang="ja" dir="ltr">

<head>
    <meta charset="utf-8">
    {% block title %}
    <!-- ここにtitle書くよ -->
    {% endblock title %}

    <!--リセットcss-->
    <link rel="stylesheet" href="{% static 'css/destyle.css' %}">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block css %}
    <!-- ここに各ページのcss書くよ -->
    {% endblock css %}
</head>



<body>
    <header>
        <ul class="h_menuBar">
            <li><a class="h_link" href=" ">店舗検索</a></li>
            <li><a class="h_link" href="{% url 'RestaurantsList' %}">詳細検索</a></li>
            <li><a class="h_link" href="{% url 'terms' %}">利用規約</a></li>
            <li><a class="h_link" href=" ">ログイン</a></li>
        </ul>
        <hr>

        {% block header %}
        <!-- ここにheader書くよ -->
        {% endblock header %}
    </header>

    {% block content %}
    <!-- ここに本文書くよ -->
    {% endblock content %}

    <footer>
        <ul class="h_footer">
            <li><a class="h_foo" href=" ">利用条件</a></li>
            <li><a class="h_foo"href="{% url 'terms' %}">利用規約</a></li>
            <li><a class="h_foo"href=" ">個人情報保護方針</a></li>
            <li><a class="h_foo"href=" ">FAQ</a></li>
            <li><a class="h_foo"href=" ">ヘルプ・お問い合わせ</a></li>
            <li><a class="h_foo"href=" ">ALBfreeの特徴</a></li>
            <li><a class="h_foo"href="{% url 'forstores' %}">店舗様に向けてのご案内</a></li>
        </ul>
        <p class="c">©ALBfree</p>
        {% block footer %}
        <!-- ここにfooter書くよ -->
        {% endblock footer %}
    </footer>
    <!--jsを使う場合必要なbootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>