{% extends "base.html" %}
{% load static %}

<!-- headの継承 -->
{% block title %}
    <title>店舗様に向けて</title>
{% endblock title %}

{% block css %}
    <!-- ここにcss書くよ -->
    
    <link rel="stylesheet" href="{% static 'css/riyou.css' %}">
    <link rel="stylesheet" href="{% static 'css/forstores.css' %}">
{% endblock css %}

<!-- bodyの継承 -->
{% block header %}
    <!-- ここにheader書くよ -->
{% endblock header %}

{% block content %}
    <!-- ここに本文書くよ -->
<div id="style">
    <h2 style="text-align:center;margin-top: 10px;">店舗様に向けて</h2>
    <h4>ご登録ご案内</h4>
    <p>登録に際してログインしていることが必要になります。まだ登録していない方は<a href="">こちら</a>をクリックしてください。</P>
    <p><a href="">利用規約</a>をご一読し同意出来る場合のみ下のボタンを押して登録してください</p>
    <h6 class="buttons">ご登録、ご利用無料</h6>
    <h1 class="buttons"><a href="" class="button">登録フォームへ</a></h1>
    <p>登録フォームへ移動できない場合は下記にてご連絡ください。</p>
    <p><a href="#">お問い合わせフォーム</a></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    

<p style="text-align:right">以上</p>
</div>
{% endblock content %}

{% block footer %}
    <!-- ここにfooter書くよ -->
{% endblock footer %}