{% extends "base.html" %}
{% load static %}

<!-- headの継承 -->
{% block title %}
    <title>画像の登録</title>
{% endblock title %}

{% block css %}
    <!-- ここにcss書くよ -->
   
    <link rel="stylesheet" href="{% static 'css/formbase.css' %}">
{% endblock css %}

<!-- bodyの継承 -->
{% block header %}
    <!-- ここにheader書くよ -->
{% endblock header %}

{% block content %}
        <h1>画像登録</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="registration">
                <input type="hidden" name="store" value="{{ id }}">
                <p>画像:</p>{{ form.image }}
                <p>属性:</p>{{ form.image }}
            </div>
            <div class="sub"><button class="submit" type="submit">登録</button></div>
        </form>

{% endblock content %}

{% block footer %}
            <!-- ここにfooter書くよ -->
{% endblock footer %}