{% extends "base.html" %}   <!--headerとfooterの読み込み-->
{% load static %}   <!--staticの読み込み-->

{% block title %}
    <title>restaurantList</title>
{% endblock title %}

{% block css %}     <!-- ここでcss読み込む -->
    <link rel = "stylesheet" href="{% static 'css/restaurantsList.css' %}" > 
{% endblock css %}
        
{% block header %}
    <!-- ここにheader書くけどいまは何もなし -->
{% endblock header %}

{% block content %}

    <nav class="hierarchies">           <!--どこのページにいるか表示(階層)-->
        <ul>
            <li class="hierarchy"><a>トップぺージ</a></li>
            <li class="hierarchy">詳細検索</li>
        </ul>
    </nav>

    <div class="count">
        <p>○○店舗  |  ○○口コミ</p>
    </div>

    <div class="sortingButton">
        <select name="sorting">     <!--並び順変更ボタン-->
            <option value="オススメ順">オススメ順</option>
            <option value="新着順">新着順</option>
            <option value="アレルゲンが少ない順">アレルゲンが少ない順</option>
        </select>
    </div>

    <h2 class="storeName">○○なお店</h2>     <!--○○に検索した条件を代入-->

    <!-- 詳細条件検索 -->
    <section class="listSearch">   <!-- 詳細条件の枠組み -->
        <h2>詳細条件</h2>
        <div class="searchAllergen">    <!-- アレルゲン検索 -->
            <form action="#">
                <button class="allergen">アレルゲン</button>
                <br>
                <label for="egg">
                    <input type="checkbox">卵
                </label>
                <label for="milk">
                    <input type="checkbox">乳
                </label>
                <label for="wheat">
                    <input type="checkbox">小麦
                </label>
                <label for="shrimp">
                    <input type="checkbox">えび
                </label>
                <label for="crab">
                    <input type="checkbox">かに
                </label>
                <label for="peanut">
                    <input type="checkbox">落花生
                </label>
                <label for="soba">
                    <input type="checkbox">そば
                </label>
            </form>
        </div>      <!-- アレルゲン検索ここまで -->
        <!--エリア検索-->
        <p class="areaTitle">エリア検索</p>
        <div class="areaSearch">
            <select class="prefectures" name="pref">
                <option value="" hidden>都道府県を選択</option>
                <option value="北海道">北海道</option>
                <option value="青森県">青森県</option>
                <option value="岩手県">岩手県</option>
                <option value="宮城県">宮城県</option>
                <option value="秋田県">秋田県</option>
                <option value="山形県">山形県</option>
                <option value="福島県">福島県</option>
                <option value="茨城県">茨城県</option>
                <option value="栃木県">栃木県</option>
                <option value="群馬県">群馬県</option>
                <option value="埼玉県">埼玉県</option>
                <option value="千葉県">千葉県</option>
                <option value="東京都">東京都</option>
                <option value="神奈川県">神奈川県</option>
                <option value="新潟県">新潟県</option>
                <option value="富山県">富山県</option>
                <option value="石川県">石川県</option>
                <option value="福井県">福井県</option>
                <option value="山梨県">山梨県</option>
                <option value="長野県">長野県</option>
                <option value="岐阜県">岐阜県</option>
                <option value="静岡県">静岡県</option>
                <option value="愛知県">愛知県</option>
                <option value="三重県">三重県</option>
                <option value="滋賀県">滋賀県</option>
                <option value="京都府">京都府</option>
                <option value="大阪府">大阪府</option>
                <option value="兵庫県">兵庫県</option>
                <option value="奈良県">奈良県</option>
                <option value="和歌山県">和歌山県</option>
                <option value="鳥取県">鳥取県</option>
                <option value="島根県">島根県</option>
                <option value="岡山県">岡山県</option>
                <option value="広島県">広島県</option>
                <option value="山口県">山口県</option>
                <option value="徳島県">徳島県</option>
                <option value="香川県">香川県</option>
                <option value="愛媛県">愛媛県</option>
                <option value="高知県">高知県</option>
                <option value="福岡県">福岡県</option>
                <option value="佐賀県">佐賀県</option>
                <option value="長崎県">長崎県</option>
                <option value="熊本県">熊本県</option>
                <option value="大分県">大分県</option>
                <option value="宮崎県">宮崎県</option>
                <option value="鹿児島県">鹿児島県</option>
                <option value="沖縄県">沖縄県</option>
              </select>
        </div>
        <!--エリア検索ここまで-->
    </section>

    <!--詳細画面に飛ぶやつ-->
    {% for data in restaurants_db %}
        <div class="storeList">
            <img src="cafe.jpg" height="125px" width="125px">
            <p class="restaurant_name">{{ data.restaurant_name }}</p>
            <table border="1">
                <tr><td>卵</td><td>乳</td><td>小麦</td><td>えび</td><td>かに</td><td>落花生</td><td>そば</td></tr>
            </table>
            <br><br>
            <p class="explanation">{{ data.explanation }}</p>
        </div>
    {% endfor %}

    
        
{% endblock content %}

{% block footer %}
    <!-- ここにfooter書くよ -->
{% endblock footer %}
