<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>restaurantList</title>
    </head>
    <body>
        <p>○○なお店</p>     <!--処理入れる-->
        <select name="sorting">
            <option value="オススメ順">オススメ順</option>
            <option value="新着順">新着順</option>
            <option value="アレルゲンが少ない順">アレルゲンが少ない順</option>
        </select>

        <!--詳細画面に飛ぶやつ-->
        <div class="storeList">
            <img src="cafe.jpg" height="150px" width="150px">
            <h3>cafe</h3>
            <table border="1">
                <tr><th>卵</th><th>乳</th><th>小麦</th><th>えび</th><th>かに</th><th>落花生</th><th>そば</th></tr>
            </table>
            <p>説明文</p>
        </div>

        <!-- 検索 -->
        <div class="listSearch">   <!-- 検索 -->
            <div class="searchAllergen">    <!-- アレルゲン -->
                <form action="#">
                    <button class="allergen">アレルゲン</button>
                    </div>
                    <label for="egg">
                        <input type="checkbox">卵
                    </label>
                    <label for="milk">
                        <input type="checkbox">乳
                    </label>
                    <label for="wheat">
                        <input type="checkbox">小麦
                    </label>
                    <label for="shrimp">
                        <input type="checkbox">えび
                    </label>
                    <label for="crab">
                        <input type="checkbox">かに
                    </label>
                    <label for="peanut">
                        <input type="checkbox">落花生
                    </label>
                    <label for="soba">
                        <input type="checkbox">そば
                    </label>
                </form>
            </div>      <!-- アレルゲン検索ここまで -->
        </div>
    </body>
    <footer>
    </footer>
</html>


{% for test in test_list  %}
    {{ test.restaurant_name }}
{% endfor %}
