{% load static %}   <!--staticの読み込み-->

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>restaurantList</title>
        <link rel = "stylesheet" href="{% static 'css/restaurantsList.css' %}" > 
    </head>
    <body>

        <div class="sortingButton">
            <select name="sorting">     <!--並び順変更ボタン-->
                <option value="オススメ順">オススメ順</option>
                <option value="新着順">新着順</option>
                <option value="アレルゲンが少ない順">アレルゲンが少ない順</option>
            </select>
        </div>

        <h2>○○なお店</h2>     <!--○○に検索した条件を代入-->

        <!-- 詳細条件検索 -->
        <section class="listSearch">   <!-- 詳細条件の枠組み -->
            <h2>詳細条件</h2>
            <div class="searchAllergen">    <!-- アレルゲン検索 -->
                <form action="#">
                    <button class="allergen">アレルゲン</button>
                    <br>
                    <label for="egg">
                        <input type="checkbox">卵
                    </label>
                    <label for="milk">
                        <input type="checkbox">乳
                    </label>
                    <label for="wheat">
                        <input type="checkbox">小麦
                    </label>
                    <label for="shrimp">
                        <input type="checkbox">えび
                    </label>
                    <label for="crab">
                        <input type="checkbox">かに
                    </label>
                    <label for="peanut">
                        <input type="checkbox">落花生
                    </label>
                    <label for="soba">
                        <input type="checkbox">そば
                    </label>
                </form>
            </div>      <!-- アレルゲン検索ここまで -->
        </section>

        <!--詳細画面に飛ぶやつ-->
        {% for data in restaurants_db %}
            <div class="storeList">
                <img src="cafe.jpg" height="125px" width="125px">
                <p class="restaurant_name">{{ data.restaurant_name }}</p>
                <table border="1">
                    <tr><th>卵</th><th>乳</th><th>小麦</th><th>えび</th><th>かに</th><th>落花生</th><th>そば</th></tr>
                </table>
                <br><br>
                <p class="explanation">{{ data.explanation }}</p>
            </div>
        {% endfor %}
        
    </body>

    <footer>
    </footer>

</html>

