

<!DOCTYPE html>
<html lang="jp" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>店舗詳細画面</title>
  <link rel="stylesheet" href="../static/css/ShopDetail.css">
</head>

<body>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



  <h1 class="text-right">店舗名：カフェマリア &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>


  <span>
    文章内の
    <span class="total">トータルの評価</span>

    <span class="star">★★☆☆☆ 2.0</span>
    <!--星の画像使わなあかん-->
  </span>

</body>

</html>

<h4>店舗詳細</h4>


