{% extends "base.html" %}
{% load static %}

<!-- headの継承 -->
{% block title %}
    <title>トップページ</title>
{% endblock title %}

{% block css %}
    <!-- ここにcss書くよ -->
    <link rel="stylesheet" href="{% static 'css/TopPage.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>  
    
{% endblock css %}

<!-- bodyの継承 -->
{% block header %}
    <!-- ここにheader書くよ -->
{% endblock header %}

{% block content %}
<!--{% for i in id %}-->
    {{ id }}
<!--{%endfor%}-->

    <!-- ここに本文書くよ -->
    <div class="img">
    <!--スライドショー-->
    <ul class="slider">
        <li><a href="#"><img class = "sliders" src={% static 'img/power.jpg' %} alt="image01"></a></li>
        <li><a href="#"><img class = "sliders" src={% static 'img/power.jpg' %} alt="image02"></a></li>
        <li><a href="#"><img class = "sliders" src="images/03.jpg" alt="image03"></a></li>
        <li><a href="#"><img class = "sliders" src="images/04.jpg" alt="image04"></a></li>
        <li><a href="#"><img class = "sliders" src="images/05.jpg" alt="image05"></a></li>
        <li><a href="#"><img class = "sliders" src="images/06.jpg" alt="image06"></a></li>
        <li><a href="#"><img class = "sliders" src="images/07.jpg" alt="image07"></a></li>
        <li><a href="#"><img class = "sliders" src="images/08.jpg" alt="image08"></a></li>
    </ul>
</div>

        <div class="search_list">
            <!--簡易検索フォーム-->
            <form action="店舗一覧(検索結果)" method="post">
                  <!-- 折り畳み展開 -->
                  <select multiple="multiple" class="multiple"> 
                    <option value="egg">卵</option>
                    <option value="milk">乳</option>
                    <option value="wheat">小麦</option>
                    <option value="shrimp">えび</option>
                    <option value="crab">かに</option>
                    <option value="peant">落花生</option>
                    <option value="soba">そば</option>
                  </select>
                  <script>
                    $(function () {
                      $(".multiple").multipleSelect({
                      width: 180,
                      placeholder:"アレルギー7品目除外",
                      formatSelectAll: function() {
                          return 'すべて';
                      },
                      formatAllSelected: function() {
                          return '全て選択されています';
                      }
                  });
                    });
                  </script>
                    
                    <!-- 折り畳まれ部分 -->
                <div id="open" style="display:none;clear:both;">
                    <span>
                        <input type="checkbox" id="egg" name="egg" >
                        <label for="egg">卵</label>
                   
                        <input type="checkbox" id="milk" name="milk">
                        <label for="milk">乳</label>
                    
                        <input type="checkbox" id="wheat" name="wheat">
                        <label for="wheat">小麦</label>
                    
                        <input type="checkbox" id="shrimp" name="shrimp">
                        <label for="shrimp">えび</label>
                    
                        <input type="checkbox" id="crab" name="crab">
                        <label for="crab">かに</label>
                    
                        <input type="checkbox" id="peant" name="peant">
                        <label for="peant">落花生</label>
                   
                        <input type="checkbox" id="soba" name="soba">
                        <label for="soba">そば</label>
                    </span>
                    <p>検索から除外したい食品にチェックを入れてね</p>
                </div>
                <!--// 折り畳まれ部分 --> <select name="Prefecture">
                    <option class="tab_select">県を選ぶ</option>
                    <optgroup label="北海道・東北">
                        <option value="北海道">北海道</option>
                        <option value="青森県">青森県</option>
                        <option value="岩手県">岩手県</option>
                        <option value="宮城県">宮城県</option>
                        <option value="秋田県">秋田県</option>
                        <option value="山形県">山形県</option>
                        <option value="福島県">福島県</option>
                    </optgroup>
                    <optgroup label="関東">
                        <option value="茨城県">茨城県</option>
                        <option value="栃木県">栃木県</option>
                        <option value="群馬県">群馬県</option>
                        <option value="埼玉県">埼玉県</option>
                        <option value="千葉県">千葉県</option>
                        <option value="東京都">東京都</option>
                        <option value="神奈川県">神奈川県</option>
                    </optgroup>
                    <optgroup label="中部">
                        <option value="新潟県">新潟県</option>
                        <option value="富山県">富山県</option>
                        <option value="石川県">石川県</option>
                        <option value="福井県">福井県</option>
                        <option value="山梨県">山梨県</option>
                        <option value="長野県">長野県</option>
                        <option value="岐阜県">岐阜県</option>
                        <option value="静岡県">静岡県</option>
                        <option value="愛知県">愛知県</option>
                    </optgroup>
                    <optgroup label="近畿">
                        <option value="三重県">三重県</option>
                        <option value="滋賀県">滋賀県</option>
                        <option value="京都府">京都府</option>
                        <option value="大阪府">大阪府</option>
                        <option value="兵庫県">兵庫県</option>
                        <option value="奈良県">奈良県</option>
                        <option value="和歌山県">和歌山県</option>
                    </optgroup>
                    <optgroup label="中国">
                        <option value="鳥取県">鳥取県</option>
                        <option value="島根県">島根県</option>
                        <option value="岡山県">岡山県</option>
                        <option value="広島県">広島県</option>
                        <option value="山口県">山口県</option>
                    </optgroup>
                    <optgroup label="四国">
                        <option value="徳島県">徳島県</option>
                        <option value="香川県">香川県</option>
                        <option value="愛媛県">愛媛県</option>
                        <option value="高知県">高知県</option>
                    </optgroup>
                    <optgroup label="九州・沖縄">
                        <option value="福岡県">福岡県</option>
                        <option value="佐賀県">佐賀県</option>
                        <option value="長崎県">長崎県</option>
                        <option value="熊本県">熊本県</option>
                        <option value="大分県">大分県</option>
                        <option value="宮崎県">宮崎県</option>
                        <option value="鹿児島県">鹿児島県</option>
                        <option value="沖縄県">沖縄県</option>
                    </optgroup>
                </select>

                <select name="time">
                    <option>時間を選ぶ</option>
                    <option value="800">8:00</option>             
                    <option value="900">9:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                    <option value="1300">13:00</option>
                    <option value="1400">14:00</option>
                    <option value="1500">15:00</option>
                    <option value="1600">16:00</option>
                    <option value="1700">17:00</option>
                    <option value="1800">18:00</option>
                    <option value="1900">19:00</option>
                    <option value="2000">20:00</option>
                    <option value="2100">21:00</option>
                    <option value="2200">22:00</option>
                </select>
                <select name="member">
                    <option>人数を選ぶ</option>
                    <option value="1">1人</option>             
                    <option value="2">2人</option>
                    <option value="3">3人</option>
                    <option value="4">4人</option>
                    <option value="5">5人</option>
                    <option value="6">6人</option>
                    <option value="7">7人</option>
                    <option value="8">8人</option>
                    <option value="9">9人</option>
                    <option value="10">10人</option>
                </select>
                <input name="date" type="date" />
                <input class="kiy"type="search" name="search" placeholder="キーワードを入力">

              

                <input type="submit" name="submit" value="検索">
            </form>
            </div>
<div id="style">
    
    <div><!--紹介プレ-->
        <br>
        <p class="Title">アレルギー7品目対応店</p>
        <hr>
        <br>
        <ul class="item">
            <li class="ite"><a href=""><img src= "{% static 'img/Cookingsample01.jpg' %}" alt="対応店舗0">
                <p>32文字対応中32文字対応中32文字対応中32文字対応中32文字対応中・・</p>
                </a></li>
            <li class="ite"><a href=""><img src= "{% static 'img/Cookingsample02.jpg' %}" alt="対応店舗1">
                <p>お造り処　杏</p>
                </a></li>
            <li class="ite"><a href=""><img src= "{% static 'img/Cookingsample03.jpg' %}" alt="対応店舗2">
                <p>居酒屋　層</p>
                </a></li>
            <li class="ite"><a href=""><img src= "{% static 'img/Cookingsample04.jpg' %}" alt="対応店舗3">
                <p>大好き　梅工房</p>
                </a></li>
            <li class="ite"><a href=""><img src= "{% static 'img/Cookingsample05.jpg' %}" alt="対応店舗3">
                <p>大好き　酒</p>
                </a></li>
            <li class="ite"><a href=""><img src= "{% static 'img/Cookingsample06.jpg' %}" alt="対応店舗3">
                <p>大好き　酒</p>
                </a></li>
            <li class="ite"><a href=""><img src= "{% static 'img/Cookingsample07.jpg' %}" alt="対応店舗3">
                <p>大好き　酒</p>
                </a></li>
        </ul>
        <div class="detail">
            <a href="">アレルギー7品目店詳細へ</a>
            </div>
    </div>
    <br>
    <div><!--ランキングテンプレ-->
        <br>
        <p class="Title">サイトおすすめランキング</p>
        <hr>
        
        <br>
        <ul class="ranking">
            <li class="item"><a href=""><img src= "{% static 'img/ranking01.jpg' %}" alt="1位">
                <p>32文字対応中32文字対応中32文字対応中32文字対応中32文字対応中・・</p></a></li>
            <li class="item"><a href=""><img src="{% static 'img/ranking02.jpg' %}" alt="2位">
                <p>32文字対応中32文字対応中32文字対応中32文字対応中32文字対応中・・</p></a></li>
            <li class="item"><a href=""><img src="{% static 'img/ranking03.jpg' %}" alt="3位">
                <p>32文字対応中32文字対応中32文字対応中32文字対応中32文字対応中・・</p></a></li>
            <li class="item"><a href=""><img src="{% static 'img/ranking04.jpg' %}" alt="4位">
                <p></p></a></li>
            <li class="item"><a href=""><img src="{% static 'img/ranking05.jpg' %}" alt="5位">
                <p></p></a></li>
        </ul>
        <div class="detail">
        <a href="">００ランキング詳細へ</a>
        </div>
    </div>
    <br>
    <div><!--ランキングテンプレ-->
        <br>
        <p class="Title">利用シーンから探す</p>
        <hr>   
        <br>
        <ul class="location">
            <li class="item"><a href=""><img src="{% static 'img/scene01.jpg' %}" alt="バナー0">
                <p>おひとり様</p></a></li>
            <li class="item"><a href=""><img src="{% static 'img/scene02.jpg' %}" alt="バナー1">
                <p>家族・子供と</p></a></li>
            <li class="item"><a href=""><img src="{% static 'img/scene03.jpg' %}" alt="バナー2">
                <p>接待</p></a></li>
            <li class="item"><a href=""><img src="{% static 'img/scene04.jpg' %}" alt="バナー3">
                <p>デート</p></a></li>
            <li class="item"><a href=""><img src="{% static 'img/scene05.jpg' %}" alt="バナー3">
                <p>合コン</p></a></li>
            <li class="item"><a href=""><img src="{% static 'img/scene06.jpg' %}" alt="バナー3">
                <p>宴会</p></a></li>
        </ul>
    </div>
    <br>
    <div><!--お知らせ-->
        <br>
        <p class="Title">お知らせ</p>
        <hr>   
        <br>
        <ul class="msr_newslist">
            <li>
              <a href="#">
              <div>
                <time datetime="2016-1-1">2016.01.01</time>
                <p class="cat01">cat01</p>
              </div>
              <p> デザインを変更しました </p>
              </a>
            </li>
            <li>
              <a href="#">
              <div>
                <time datetime="2016-1-1">2016.01.01</time>
                <p class="cat02">cat02</p>
              </div>
              <p> サイトをアップグレードしました。 </p>
              </a>
            </li>
            <li>
              <a href="#">
              <div>
                <time datetime="2016-1-1">2016.01.01</time>
                <p class="cat01">cat01</p>
              </div>
              <p> 現在行き詰っています </p>
              </a>
            </li>
            <li>
              <a href="#">
              <div>
                <time datetime="2016-1-1">2016.01.01</time>
                <p class="cat02">cat02</p>
              </div>
              <p> テキストテキスト </p>
              </a>
            </li>
          </ul>
    </div>


    

<br>
</div>  
<div><!--js・jq-->
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tops.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
</div>
{% endblock content %}

{% block footer %}
    <!-- ここにfooter書くよ -->
{% endblock footer %}